<h2>Events <%=@user.username%> is going to:</h2>
<br>

<%@user.event_attendees.each do |item| %>


<a href="/events/<%=item.event_id%>"><%@event = Event.find_by_id(item.event_id)%><%=@event.event_name%> <%=@event.schedule%></a>
<br/>
<%end%>