<form action='/users/<%=@user.slug%>/<%=@destination%>' method="post">
  <h3>You must verify your password before continuing.</h3>
  <br/>
  <label>Password:</label>
  <br/>
  <input type= "password" name= "password1">
  <br/>
  <label>Confirm Password:</label>
  <br/>
  <input type= "password" name= "password2">
  <br/>
  <input type = "submit" value = "Submit">
</form>