<form action='/users/<%=@user.slug%>/update_password' method="post">
  <h3>Change your password here:</h3>
  <br/>
  <label>Current Password:</label>
  <br/>
  <input type= "password" name= "password">
  <br/>
  <label>New Password:</label>
  <br/>
  <input type= "password" name= "newpassword">
  <br/>
  <label>Confirm Password</label>
  <br>
  <input type="password" name= "newpassword_confirmed">
  
  <input id="hidden" type="hidden" name="_method" value="patch">
  <br/>
  <input type = "submit" value = "Submit">
</form>  
  
  
  <!--patch '/users/:slug/update_password' do -->
  <!--  @user = User.find_by_slug(params[:slug])-->
  <!--  if logged_in?-->
  <!--    if current_user == @user-->
  <!--      if @user.authenticate(params[:password])-->
  <!--        if params[:newpassword] == params[:newpassword_confirmed]-->
  <!--          @user.update(password: params[:newpassword])-->
  <!--          redirect "/users/#{@user.slug}"-->
  <!--        else-->
  <!--          flash[:message] = "Your new passwords do not match."-->
  <!--          redirect "/users/#{@user.slug}/update_password"-->
  <!--        end-->
  <!--      else -->
  <!--        flash[:message]="Invalid original password."-->
  <!--        redirect "/users/#{@user.slug}/update_password"-->
  <!--      end-->
  <!--    else-->
  <!--      flash[:message]="You are not authorized to view this page"-->
  <!--      redirect '/events'-->
  <!--    end-->
  <!--  else-->
  <!--    redirect '/login'-->
  <!--  end-->
  <!--end-->