<h2>Create an Event</h2>
<br/>
<form action="/events" method= "POST">
  <label>Event Name:</label>
  <br/>
  <input type= "text" name= "name">
  <br/>
  <label>Event Type:</label>
  <br/>
  <input type= "text" name="category">
  <br/>
  <label>Description:</label>
  <br/>
  <input type= "description" name="description">
  <br/>
  <label>Event Time:</label>
  <br/>
  <input type="datetime-local" name="schedule" value="<%=Time.now%>">
  <!--<input type= "datetime" name="schedule" value=>-->
  <!--<br/>-->
  <input type="submit" name="submit" value="Create">
</form>