<% if logged_in? %>
 <!doctype html>
    <html>
      <head>
        <title><a href="/">Event Space</a></title>
      </head>
      <body>
        <div class= "container">
          <h1>Event Space</h1>
          <%=yield%>
        </div>
        <a href= "/my_events">My_Events</a> <a href="/events_attending">Events Attending </a> <a href= "/events">Events Trending</a> <a href="/logout">Log out</a> 
      </body>
    </html>
<% else %>
  <!doctype html>
    <html>
      <head>
        <title><a href="/">Event Space</a></title>
      </head>
      <body>
        <div class= "container">
          <h1>Event Space</h1>
          <%=yield%>
        </div>
        <a href= "/signup">Sign Up</a><a href="/login">Log in</a>
      </body>
    </html>
<%end%>



